* {
  padding: 0;
  margin: 0;
}
.btn-submit {
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 7px;
}
.head {
  text-align: center;
  padding-top: 100px;
}
.spancls {
  color: rgb(10, 177, 244);
}
.subHead {
  text-align: center;
  padding-top: 10px;
}
.btn-start {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(74, 196, 244);
  padding: 8px;
  margin-left: 43%;
  color: white;
  font-weight: bold;
  width: 15%;
}
/* .head-img {
  margin-left: 330px;
  margin-top: 100px;
  align-items: center;
} */

.second-heading {
  text-align: center;
  margin-top: 100px;
}
.btn-start1 {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(74, 196, 244);
  padding: 5px;
  color: white;
  width: 150px;
}
.icon {
  color: #2b70e9;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  background-color: white;
}
.card-body {
  background-color: white;
}
.btn-start2 {
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(74, 196, 244);
  padding: 5px;
  color: white;
  width: 150px;
  align-items: center;
}
.vertical-card :hover {
  background-color: black;
  color: white;
}

.sm-img {
  margin-left: 60px;
}
.foot-head {
  text-align: center;
  padding-top: 30px;
}
.foot-list {
  list-style-type: none;
  /* text-align: center; */
  line-height: 40px;
}
.icon1 {
  font-size: 30px;
  padding-left: 12px;
  padding-top: 10px;
}
